{% extends 'front/theme_6/base.html.twig' %}

{% block title %}
    {{ newsCategory }}
{% endblock %}

{% block body %}
    <div class="list">
        <div class="row" id="load_main">

            {% set someSizeControlVal = 1 %}
            {% set someSize = '-size-s' %}

            {% for item in news %}
                {% if someSizeControlVal < 4 %}
                    {% set someSize = '-size-s' %}
                    {% set someSizeControlVal = someSizeControlVal + 1 %}
                {% elseif someSizeControlVal == 4 %}
                    {% set someSize = '-size-l' %}
                    {% set someSizeControlVal = someSizeControlVal + 1 %}
                {% elseif someSizeControlVal > 4 and someSizeControlVal < 7 %}
                    {% set someSize = '-size-s' %}
                    {% set someSizeControlVal = someSizeControlVal + 1 %}
                {% elseif someSizeControlVal == 7 %}
                    {% set someSize = '-size-l' %}
                    {% set someSizeControlVal = 1 %}
                {% endif %}

                {% if someSize == '-size-s' %}
                    <div class="item -size-s -theme-white">
                        <a href="{{ path('front.short_news', {
                            'id': item.id
                        }) }}" style="text-decoration: none; color: black;" target="_blank">
                            <div class="item-container">
                                <div class="item-cover">
                                    <div class="item-cover-thumb" style="background: rgb(137, 128, 120);">
                                        <img src="{{ asset('assets/theme_6/static/images/default.jpg') }}"
                                             class="item-cover-img">
                                        <div class="item-cover-mask"
                                             style="background: linear-gradient(rgba(137, 128, 120, 0) 0%, rgb(137, 128, 120) 100%);"></div>
                                    </div>
                                </div>
                                <div class="item-content">
                                    <div class="item-category">

                                    </div>
                                    <div class="item-title" style="color: rgb(249, 249, 249);">
                                        <div class="item-link">
                                            <span class="item-link-text" style="font-size: 1.2rem;">{{ item.title }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% else %}
                    <div class="item -size-l -theme-white">
                        <a href="{{ path('front.short_news', {
                            'id': item.id
                        }) }}" style="text-decoration: none; color: black;" target="_blank">
                            <div class="item-container-large-version">
                                <div class="card-img-out" style="background: rgb(165, 153, 128);">
                                    <h5 class="card-title" style="color: #ffffff; z-index: 3; font-size: 1.2rem;">{{ item.title }}</h5>
                                    <div class="item__gradient" style="background: radial-gradient(100% 500% at 100% center, rgba(165, 153, 128, 0) 55%, rgb(165, 153, 128) 75%); z-index: 100;">
                                    </div>
                                </div>
                                <div class="card_col_1" style="z-index: 1; background: rgb(165, 153, 128);">
                                    <img class="card-img" src="{{ asset('assets/theme_6/static/images/default.jpg') }}">
                                </div>
                            </div>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}