{% extends 'dashboard/templates/list.html.twig' %}

{% block bulk_actions_checkobx %}{% endblock %}

{% block table_body %}
    {% if(cron_date is null) %}
        <p>Данные еще не обновлялись</p>
    {% else %}
        <p>Данные обновлены {{ cron_date }} MSK. Обновляются раз в час.</p>
    {% endif %}
    {{ render_user_currency_information(app.user) | raw }}
    {% for algorithm in algorithms %}
        {% set statistic = get_algorithm_statistic(algorithm, app.user) %}
        {% if statistic %}
            <tr role="row" class="odd">
                <td>{{ render_active_checkbox(algorithm, app.user) | raw }}</td>
                <td>{{ algorithm.name }}</td>
                <td>{{ statistic.CTR }}</td>
                <td>{{ statistic.conversion }}</td>
                <td>{{ statistic.approveConversion }}</td>
                <td>{{ convert_to_user_currency(statistic.eCPM, app.user) }}</td>
                <td>{{ convert_to_user_currency(statistic.EPC, app.user) }}</td>
                <td>{{ statistic.CR }}</td>
                <td>{{ statistic.ROI }}</td>
                <td></td>
            </tr>
        {% endif %}
    {% endfor %}
    <script src="{{ asset('assets/dashboard/js/common/buyer-activate-entity.js') }}?v={{ get_env('JS_VERSION') }}"></script>
{% endblock %}