{% extends 'front/theme_4/base.html.twig' %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block body %}
    <div class="container">
        <div id="grid" class="news row" data-new="0" style="position: relative; height: 2915.45px;">
            <div id="news" class="news news-short col-12 col-sm-6 col-md-8 col-lg-6 col-xl-6">
                <input id="newsId" type="hidden" value="7936">
                <a href="{{ path('front.full_news', {
                    'id': article.id
                }) }}" target="_blank" class="news-wrapper">
                    <div class="news-header" style="background: rgb(59, 37, 35);">
                        <div class="news-image">
                            <div class="background" style="background: linear-gradient(0deg, rgb(59, 37, 35) 0px, transparent 100%);"></div>
                            <img src="{{ news_cropped_image_link }}">
                        </div>
                        <div class="news-title-wrapper">
                            <div class="news-info" style="color: #fafafa;">
                                <div class="category" style="color: #fafafa; background: rgb(59, 37, 35);">
                                {% for i in article.categories %}

                                    {{ i }},

                                {% endfor %}
                                </div>
                                <div class="news-date">{{ article.createdAt | date("d.m.Y") }}</div>
                            </div>
                            <h1 class="news-title" style="color: #fafafa;">{{ article.title }}</h1>
                            <div class="anounce" style="display: none;">{{ article.shortDescription }}</div>
                            <div class="news-link">
                                <button class="button" style="background: #fafafa; color: #212121">Читать далее</button>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% for teaser in teasers %}
                <div class="grid-item item item-product col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                    <a class="teaser teaser-product" href="{{ teasers_click_counter_link(teaser, article, {'pageType': 'short'})}}" target="_blank" style="background: rgb(141, 96, 73);">
                        <div class="teaser-image">
                            <div class="background" style="background: linear-gradient(0deg, rgb(141, 96, 73) 0px, transparent 100%);"></div>
                            <img src="{{ generate_preview_link(teaser.fileName, 'teaser',  width_teaser_block, height_teaser_block) }}" width="492" height="328">
                            <div class="category" style="color: #fafafa; background: rgb(141, 96, 73);">
                                Лучшее
                            </div>
                        </div>
                        <div class="teaser-title" style="color: #fafafa;">{{ get_city(teaser.text, city) | raw }}</div>
                        <div class="button" style="display: none;">
                            <div class="read-more">
                                Подробнее
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}