{% extends 'front/theme_3/base.html.twig' %}

{% block title %}
    {{ article.title }}
{% endblock %}

 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('assets/theme_3/static/css/full.css') }}?v={{ get_env('CSS_VERSION') }}">
     <link rel="stylesheet" href="{{ asset('assets/theme_3/static/css/burger-menu.css') }}?v={{ get_env('CSS_VERSION') }}">
 {% endblock %}

{% block body %}
    {% set twig_content_variable= 'Testing to replace content' %}
    <tr>
        <td id="main">
            <div id="topContent">
                <div id="firstBlock">
                    <div id="fullNewsBlock">
                        <div id="fadedBlockBigTizer">
                            <div id="fadedBlockBigTizerOverlay"></div>
                            <img src="{{ news_cropped_image_link }}">
                            <h2>{{ article.title }}</h2>
                            <p class="fadedBlockBigTizerTime">{{ article.createdAt | date("d") }}
                                {{ article.createdAt | date('F', 'Europe/Moscow')}} в {{ article.createdAt | date("i:h") }}</p>
                            <p class='fadedBlockBigTizerSource'>Источник: <a href='{{ article.sourceLink }}' target='_blank'>источник</a></p>
                        </div>
                        <div id="articleText">
                            <p style="margin:0;padding:0;font-size:15px;float:left; ">
                                    <span class="articleTextSpan">
                            <p> {{ article_full_description | slice (0, 60)  | raw }}</p>
                            <div id="intextBlock">
                                <p style="margin:0;margin-bottom:10px;text-transform: uppercase;font-size: 15px;font-weight: bold;color:#ba0505;">Новости дня</p>
                                {% for teaser in teasers | filter((v, k) => v.id != article.id) | slice(0, 2) %}
                                    <a href="{{ teasers_click_counter_link(teaser, article, {'pageType': 'full'})}}" target="_blank" style="color: #353535;">
                                        <div id="intextBlockDiv" class="add-shows">
                                            <img src="{{ generate_preview_link(teaser.fileName, 'teaser',  width_teaser_block, height_teaser_block) }}">
                                            <p class="intextBlockHeader">{{ get_city(teaser.text, city) | raw }}</p>
                                        </div>
                                    </a>
                                {% endfor %}
                            </div>
                            <div id="intextBlock" style="background: none; width: 100%">
                                <p> {{ article_full_description | slice(60) | raw }}</p>
                            </div>
                            <div id="intextBlock">
                                <p style="margin:0;margin-bottom:10px;text-transform: uppercase;font-size: 15px;font-weight: bold;color:#ba0505;">Главное за сегодня</p>
                                {% for teaser in teasers | filter((v, k) => v.id != article.id) | slice(2, 1) %}
                                    <a href="{{ teasers_click_counter_link(teaser, article, {'pageType': 'full'})}}" target="_blank" style="color: #353535;">
                                        <div id="intextBlockDiv" class="add-shows">
                                            <img src="{{ generate_preview_link(teaser.fileName, 'teaser',  width_teaser_block, height_teaser_block) }}">
                                            <p class="intextBlockHeader">{{ article.title }}</p>
                                        </div>
                                    </a>
                                {% endfor %}
                            </div>
                            <div id="testBlockUnderText">
                                <p style="font-size:16px;color: #ba0505;font-weight:bold;margin:0;margin-bottom: 10px;">ЧИТАЙТЕ ТАКЖЕ</p>
                                {% for teaser in teasers | filter((v, k) => v.id != article.id) | slice(3, 2) %}
                                    <a href="{{ teasers_click_counter_link(teaser, article, {'pageType': 'full'})}}" target="_blank" style="color: #353535;">
                                        <div id="testBlockUnderTextDiv" class="add-shows">
                                            <img src="{{ generate_preview_link(teaser.fileName, 'teaser',  width_teaser_block, height_teaser_block) }}">
                                            <p class="testBlockUnderTextHeader">{{ get_city(teaser.text, city) | raw }}</p>
                                            <p class="readMoreBtn">Подробнее</p>
                                        </div>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div id="stickyBlock" class="container">
                    <div id="tizersStickyBlock" class="floating">
                        <!-- Гарантированные показы -->
                        {% for teaser in teasers | filter((v, k) => v.id != article.id) | slice(5, 2) %}
                            <a href="{{ teasers_click_counter_link(teaser, article, {'pageType': 'full'})}}" target="_blank" class="newTeasersFadedAhref" style="color: #353535;">
                                <div class="newTeasersFaded add-shows">
                                    <div class="newTeasersFadedImg" style="position: relative !important;">
                                        <img src="{{ generate_preview_link(teaser.fileName, 'teaser',  width_teaser_block, height_teaser_block) }}">
                                    </div>
                                    <div class="newTeasersFadedOverlay"></div>
                                    <p class="newTeasersFadedHeader">{{ get_city(teaser.text, city) | raw }}</p>
                                    <p class="readMoreBtn">Подробнее</p>
                                </div>
                            </a>
                        {% endfor %}
                        <!-- Гарантированные показы /end -->
                        {% for teaser in teasers | filter((v, k) => v.id != article.id) | slice(7, 5) %}
                        <a href="{{ teasers_click_counter_link(teaser, article, {'pageType': 'full'})}}" target="_blank" style="color: #353535;">
                            <div id="tizersStickyBlockDiv" class="add-shows">
                                <img src="{{ generate_preview_link(teaser.fileName, 'teaser',  width_teaser_block, height_teaser_block) }}">
                                <p class="tizersStickyBlockHeader">{{ get_city(teaser.text, city) | raw }}</p>
                                <p class="readMoreBtn">Подробнее</p>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div id="middleContent" class="footer">
                <span style="position:absolute;top:-17px;left:20px;background:#fff;font-size:16px;font-weight:bold;padding:5px;color: #555">ПОПУЛЯРНОЕ</span>
                {% set someVal = 0 %}

                {% for teaser in teasers | filter((v, k) => v.id != article.id) | slice (12) %}
                    {% if someVal  < 2 %}
                        <a href="{{ teasers_click_counter_link(teaser, article, {'pageType': 'full'})}}" target="_blank" style="color: #353535;">
                            <div id="horizontalTizBlock" class="add-shows">
                                <div id="horizontalTizBlockImg">
                                    <img src="{{ generate_preview_link(teaser.fileName, 'teaser',  width_teaser_block, height_teaser_block) }}">
                                </div>
                                <p class="horizontalTizBlockHeader">{{ get_city(teaser.text, city) | raw }}</p>
                                <p class="readMoreBtn">Подробнее</p>
                            </div>
                        </a>
                        {% set someVal = someVal + 1 %}
                    {% elseif someVal == 2%}
                        <a href="{{ teasers_click_counter_link(teaser, article, {'pageType': 'full'})}}" target="_blank" style="color: #353535;">
                            <div id="verticalTizBlock" class="add-shows">
                                <div id="verticalTizBlockImg">
                                    <img src="{{ generate_preview_link(teaser.fileName, 'teaser',  width_teaser_block, height_teaser_block) }}">
                                </div>
                                <p class="verticalTizBlockHeader">{{ get_city(teaser.text, city) | raw }}</p>
                                <p class="readMoreBtn">Подробнее</p>
                            </div>
                        </a>
                        {% set someVal = someVal + 1 %}
                    {% else %}
                        <a href="{{ teasers_click_counter_link(teaser, article, {'pageType': 'full'})}}" target="_blank" style="color: #353535;">
                            <div id="verticalTizBlock" class="add-shows">
                                <div id="verticalTizBlockImg">
                                    <img src="{{ generate_preview_link(teaser.fileName, 'teaser',  width_teaser_block, height_teaser_block) }}">
                                </div>
                                <p class="verticalTizBlockHeader">{{ get_city(teaser.text, city) | raw }}</p>
                                <p class="readMoreBtn">Подробнее</p>
                            </div>
                        </a>
                        {% set someVal = someVal - 3 %}
                    {% endif%}
                {% endfor %}
            </div>
        </td>
    </tr>
{% endblock %}

{% block javascripts %}
    <!-- jQuery -->
    <script src="{{ asset('assets/node_modules/jquery/dist/jquery.min.js') }}?v={{ get_env('JS_VERSION') }}"></script>
    <!-- script -->
    <script src="{{ asset('assets/theme_3/static/js/script.js') }}?v={{ get_env('JS_VERSION') }}"></script>
    <!-- script -->
    <script src="{{ asset('assets/theme_3/static/js/burger-menu.js') }}?v={{ get_env('JS_VERSION') }}"></script>

    <script src="{{ asset('assets/front/js/common/backfix.js') }}?v={{ get_env('JS_VERSION') }}"></script>
    <script src="{{ asset('assets/front/js/common/click-under.js') }}?v={{ get_env('JS_VERSION') }}"></script>
    <script src="{{ asset('assets/front/js/common/visit-request.js') }}?v={{ get_env('JS_VERSION') }}"></script>
{% endblock %}

